* {
	font-family: 'Roboto', sans-serif;
	margin:0;
	padding: 0;
}

.container {
	display: flex;
	flex-direction: column;
}

.header {
	display: flex;
	background-color: #1F2937;
	padding: 0 200px;
	align-items: center;
}

.header .logo {
	font-size: 24px;
	font-weight: bolder;
	color: #F9FAF8;
	width: 10%;
	height: auto;
	margin: 16px;
}

.header .links {
	margin-left: auto;
	padding-top: 16px;

}

.header .links ul {
	list-style: none;
	display: flex;
}

.header .links a {
	font-size: 18px;
	color: #E5E7EB;
	text-decoration: none;
	margin: 16px;
}

.hero {
	display: flex;
	align-items: center;
	background-color: #1F2937;
	padding: 100px 200px;
	justify-content: center;
}

.hero .left {
	display: flex;
	flex: 1;
	flex-direction: column;
	margin-right: 300px;
	max-width: 300px;
}

.hero .title {
	font-size: 48px;
	font-weight: bolder;
	color: #F9FAF8;
}

.hero .body {
	font-size: 18px;
	color: #E5E7EB;
}

.hero .button {
	background-color: #3882F6;
	border: 1px solid #3882F6;
	border-radius: 6px;
	color: #E5E7EB;
	font-weight: bolder;
	padding: 5px 15px;
	width: 100px;
	margin-top: 16px;
}

.hero .image {
	background-color: gray;
	display: block;
	height: 215px;
	width: 300px;
	border-radius: 20px;

}

.information{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 100px 200px;
	margin-left: 300px;
	margin-right: 300px;
}

.information .title{
	font-size: 36px;
	font-weight: bolder;
	color: #1F2937;
	text-align: center;
	margin-bottom: 36px;

}
.information .infoimages{
	display: flex;
	flex-wrap: wrap;
	flex: 1;
	gap:56px;
}

.information .block img{
	width: 250px;
	height: 310px;
	border-radius: 20px;
}

.information .block p{
	width: 250px;
	text-align: center;
}

.quote{
	display: flex;
	flex: 1;
	flex-direction: column;
	background-color: #E5E7EB;
	padding: 200px 300px;
}

.quote #body{
	font-size: 36px;
	font-weight: 300;
	font-style: italic;
	color: #1F2937;
	width: 800px;
	align-self: center;
}
.quote #name{
	margin-left: 200px;
	align-self:center;
	font-weight: bolder;
}

.action{
	display: flex;

	align-items: center;
	justify-content: center;
}

.banner{
	background-color: #3882f6 ;
}
